.add-user{
  height: 200px;
  padding: 10px;
  border: 1px solid orange;
  padding-left: 50px;
}
.display-user{
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid skyblue;
  padding-left: 50px;
  overflow-y: scroll;
}
.add-user input{
  border: 1px solid rgb(209, 220, 224);
  width: 250px;
  height: 30px;
  display: block;
  border-radius: 4px;
}
.add-user button{
  border: none;
  background-color: lightskyblue;
  width: 250px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  
}
.user-item{
  background-color: lightskyblue;
  padding: 5px;
  border-radius: 4px;
  margin: 4px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
